.space-bottom {
    margin-bottom: 1em;
}

.space-top {
    margin-top: 1em;
}

.a-style {
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.a-style:hover {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.panel-heading {
    font-size: 1.3em;
}

.title {
    font-weight: bold;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label > a {
    font-size: 14px;
    color: white;
}

.alert {
    margin-top: 1em;
}